@-webkit-keyframes color_change {
  0%   {background: #a24e4e;}
  25%  {background: #7aa24e;}
  50%  {background: #4ea29e;}
  75%  {background: #534ea2;}
  100% {background: #a24e90;}
}
@-moz-keyframes color_change {
  0%   {background: #a24e4e;}
  25%  {background: #7aa24e;}
  50%  {background: #4ea29e;}
  75%  {background: #534ea2;}
  100% {background: #a24e90;}
}
@-ms-keyframes color_change {
  0%   {background: #a24e4e;}
  25%  {background: #7aa24e;}
  50%  {background: #4ea29e;}
  75%  {background: #534ea2;}
  100% {background: #a24e90;}
}
@-o-keyframes color_change {
  0%   {background: #a24e4e;}
  25%  {background: #7aa24e;}
  50%  {background: #4ea29e;}
  75%  {background: #534ea2;}
  100% {background: #a24e90;}
}
@keyframes color_change {
  0%   {background: #a24e4e;}
  25%  {background: #7aa24e;}
  50%  {background: #4ea29e;}
  75%  {background: #534ea2;}
  100% {background: #a24e90;}
}
