$primary: #3b6998;
$secondary: #303030;
$muted: #ebebeb;
$darkgrey: #a4a4a4;

@function text-color($color) {
  @if (lightness($color) > 60) {
    @return #303030;
  } @else {
    @return #ffffff;
  }
}

* {
  transition: all 0.3s ease-in-out;
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap');

body {
  overflow-x: hidden;
  font-family: 'Roboto Condensed', sans-serif;
}

img {
  border-style: none;
  width: 100%;
}

.heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
  font-weight: normal;

  label {
    color: $primary !important;
  }
}

.sub-heading {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
  margin: 0px 0px 30px 0px;
}

.slick-slide {
  outline: none
}

.buttons {
  & > .btn:not(:first-child) {
    margin-left: 10px;
  }

  &.banner-buttons {
    margin-top: 40px;
  }
}

.btn {
  border: none;
  padding: 10px 20px;
  border-radius: 2px;
  display: inline-block;

  &-primary {
    background: $primary !important;
    color: text-color($primary) !important;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-secondary {
    background: $secondary !important;
    color: text-color($secondary) !important;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-muted {
    background: $muted !important;
    color: text-color($muted) !important;
    text-decoration: none;
    text-transform: uppercase;
  }

  &-small {
    text-decoration: none;
  }

  &-medium {
    text-decoration: none;
  }

  &-large {
    text-decoration: none;
  }

  &:hover {
    opacity: .9;
  }
}

.grid-three {
  width: 100%;

  & > div {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
  }
}

.grid-four {
  width: 100%;

  & > div {
    width: 25%;
    display: inline-block;
    vertical-align: top;
  }

  .btn {
    font-size: 12px;
    min-width: 10px !important;
    padding: 5px !important;
    line-height: 18px !important;
  }
}

.slide {
  box-sizing: border-box;

  .pattern {
    background-image: url("./assets/images/pattern.png");
    background-repeat: repeat;
    position: absolute;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: .3;
  }
  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    vertical-align: middle;
    z-index: 4;
    padding: 20px;
    box-sizing: border-box;

    .banner-title {
      margin: 0px !important;
      font-size: 5em;
    }

    .banner-content {
        margin-top: 0;
    }
  }
}

.card {
  padding: 10px;
  box-sizing: border-box;

  .top {
    position: relative;
    height: 200px;
    overflow: hidden;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      cursor: pointer;
    }
  }

  .bottom {
    position: relative;
    padding: 10px;
    background: #ffffff;

    h3 {
      font-family: 'Roboto Condensed', sans-serif;
      margin-top: 10px;
    }
  }
}

.example-fill-remaining-space {
  flex: 1 1 auto;
}

.main-header {
  height: auto !important;
  background: $primary !important;
  color: text-color($primary) !important;
  transition: transform 0.3s;
  z-index: 998;

  .logo img {
      margin-top: 10px;
      width: 90px;
  }

  .sub-navigation {
      height: auto;
      font-size: 8px;
      font-weight: normal;
      color: $darkgrey;
      background: $muted !important;
      border-bottom: solid 1px lightgrey;
      width: 100;
      box-sizing: border-box;
  }

  .navigation-items {
    text-align: right;
    width: 100%;
  }
}

// Loader
.loader {
  background: $primary !important;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  &-content {
    position: relative;
    height: 100%;
  }

  .logo {
    img {
      max-width: 200px;
      width: 100%;
    }
  }
}

.text {
  &-center {
    text-align: center;
  }

  &-left {
      text-align: left;
  }

  &-right {
      text-align: right;
  }
}

.section {
  display: block;
  box-sizing: border-box;
  height: auto;

  &.small {
    padding: 10px 0px;
  }

  &.medium {
      padding: 30px 0px;
  }

  &.large {
      padding: 60px 0px;
  }

  .content {
    padding: 10px;
    margin: 0 auto;
    max-width: 1200px;

    &.width-fullscreen {
      max-width: none;
    }

    &.width-small {
      max-width: 800px;
    }
  }

  // primary
  &.primary {
    background-color: $primary !important;
    color: text-color($primary) !important;
  }

  &.secondary {
    background-color: $secondary !important;
    color: text-color($secondary) !important;
  }

  &.muted {
    background-color: $muted !important;
    color: text-color($muted) !important;
  }
}

.pc-only {
  display: block;
}

.mobile-only {
  display: none !important;
}

.design {
  & > div {
    padding: 10px;
    box-sizing: border-box;

    img {
      cursor: pointer;
    }

    &:hover {
      opacity: .8;
    }
  }
}

.modal-trigger-container {
  cursor: pointer;
  padding: 10px;
  box-sizing: border-box;
  height: auto;
  overflow: hidden;

  .img-holder {
    width: 100%;
    height: 100%;
    max-height: 350px;
    max-width: 450px;
    object-fit: cover;
    object-position: center center;
    display: block;
  }
}

footer {
	background: $secondary;
	text-align: center;
	color: text-color($secondary) !important;
	padding: 80px 20px;
	.logo {
		width: 200px;
		margin: 0 auto;
	}
	ul {
		list-style: none;
    margin: 0;
    padding: 0;
		li {
			display: inline-block;
			margin: 0px 10px;
		}
	}
	.top-footer {
		.mat-icon {
			position: absolute;
			margin-top: -4px;
		}
		a {
			margin-left: 32px;
		}
		label {
			margin-left: 32px;
		}
	}
}
.top-footer {
	a {
		color: #ffffff;
		font-size: 1.2em;
	}
	margin-bottom: 20px;
	width: 100%;
}

.design-three {
  .design-card {
    width: 33.33%;
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    padding: 10px;
  }

  .design-holder {
    height: auto;
    max-height: 350px;
    overflow: hidden;
    width: 100%;

    img {
      display: block;
      object-fit: cover;
      object-position: center center;
      width: 100%;
      height: 350px;
      position: relative;
    }
  }
}

.cv {
  max-width: 780px;
  margin: 0 auto;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: content-box;
  box-shadow: 2px 2px 10px 0px #0000004f;

  .avatar-image {
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
    overflow: hidden;
    border: solid 5px white;
    box-shadow: 2px 2px 10px 0px #0000004f;
    position: absolute;
    margin: 0 auto;
    text-align: center;
    width: 100%;
    height: 100%;
    top: 44%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .bg-image {
      max-height: 340px;
      overflow: hidden;
      margin-bottom: 20px;
  }

  .content {
    padding: 20px;
    width: 80%;
  }

  h5 {
    margin-top: 0px;
  }

  h1 {
    margin-bottom: 0px;
  }

  .job-container {
    padding: 50px 20px;
    width: 80%;
    border-top: solid 1px #efefef;
    margin: 0 auto;

    label {
      color: $primary !important;
      font-weight: bold;
      margin-top: 10px;
    }

    .job-details {
      h4 {
        margin: 0px;
      }

      h3 {
        margin: 0px;
        color: $primary;
      }
      .washed {
        margin: 5px 0px;
        color: #bfbfbf;
      }
      .tech-container {
        margin-top: 10px;

        .detail-tech-btn {
          display: inline-block;
          margin: 2px 5px;
          padding: 5px;
          border-radius: 5px;
          font-size: 14px;
          text-align: center;
          line-height: 21px;

          &1 {
            background-color: #8543a2;
            color: #ffffff;
          }

          &2 {
            background-color: #e44747;
            color: #ffffff;
          }

          &3 {
            background-color: #ffa500;
            color: #ffffff;
          }

          &4 {
            background-color: #96192f;
            color: #ffffff;
          }

          &5 {
            background-color: #008eff;
            color: #ffffff;
          }
        }
      }
    }
  }

  ul {
    margin-left: 0px;
    padding-left: 0px;
    list-style: none;

    li {
      label {
        display: inline-block;
        margin-right: 5px;
      }
      em {
        font-weight: 700;

        a {
          text-decoration: none;
          color: $primary;
        }
      }
    }
  }

.action {
    box-sizing: content-box;
    height: auto;
    display: block;
    margin: 25px 0px;

    .detail-btn {
      text-align: center;
      margin: 5px;
      padding: 10px;
      box-sizing: border-box;
      text-decoration: none;
      text-transform: uppercase;

      &-primary {
        background-color: $primary !important;
        color: text-color($primary) !important;
      }

      &-secondary {
        background-color: $secondary !important;
        color: text-color($secondary) !important;
      }

      &-muted {
        background-color: $muted !important;
        color: text-color($muted) !important;
      }

      &-fb {
        background: #3b5998;
        color: #ffffff;
      }

      &-linkedin {
        background: #0e76a8;
        color: #ffffff;
      }
    }
  }
}
